service: idempotency-service

plugins:
  - serverless-offline

package:
  individually: true

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    external:
      - knex
      - pg
      - 'knex/lib/dialects/*'

functions:
  api:
    handler: src/index.handler # Assuming your Fastify app is exported as 'handler' in src/index.ts
    timeout: 6
    events:
      - http:
          path: /{proxy+}
          method: any

resources:
  Resources:
    ServerlessDeploymentBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: idempotency-tests
        VersioningConfiguration:
          Status: Enabled

