service: idempotency-service

provider:
  name: aws
  runtime: nodejs18.x
  environment:
    NODE_ENV: production
    REDIS_HOST: ${env:REDIS_HOST}
    REDIS_PORT: ${env:REDIS_PORT}
    DB_CLIENT: ${env:DB_CLIENT}
    DB_HOST: ${env:DB_HOST}
    DB_PORT: ${env:DB_PORT}
    DB_USER: ${env:DB_USER}
    DB_PASSWORD: ${env:DB_PASSWORD}
    DB_DATABASE: ${env:DB_DATABASE}

plugins:
  - serverless-offline

package:
  individually: true

functions:
  api:
    handler: src/index.handler # Assuming your Fastify app is exported as 'handler' in src/index.ts
    events:
      - http:
          path: /{proxy+}
          method: any

resources:
  Resources:
    ServerlessDeploymentBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: idempotency-tests
        VersioningConfiguration:
          Status: Enabled

